/node_modules
/tsconfig.json
/package-lock.json
/package.json
/LICENSE.md
/example
/.github
/dist
/.env
/tap-snapshots
/.nyc_output
/coverage
/benchmark
/.tap
/test/fixture
/test/fixtures
/.tshy
/docs
